@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables - used to reduce redundancy and repetition*/
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end*/

/* smoothly scrolls to sections on page*/
html {
    scroll-behavior: smooth;
}

/* CSS Resets - used to reduce browser inconsistencies*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* no markers beside list items*/
ul {
    list-style-type: none;
}

/* no decoration for links */
/* color of link set to root variable */
a {
    text-decoration: none;
    color: var(--primary-color);
}

/* color of link hover set to root variable */
a:hover {
    color: var(--secondary-color);
}

/* color of body set to root variable */
body {
    font-family: var(--font-family);
}

/* Styling for nav bar */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* color of Lacie Covington set to root variable */
nav h1 {
    color: var(--primary-color);
}

/* color of links set to root variable */
/* sets transition duration to root variable */
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

/* color of hover set to root variable */
/* bottom of link when hovered set to 2px, solid line, and root variable */
nav a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
}

/* display set to flex */
/* row gap set to 1.9rem */
nav ul {
    display: flex;
    gap: 1.9rem;
}

/* list items weight set to root variable */
nav ul li {
    font-weight: var(--bold-font);
}

/* Styling for burger menu */
.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Styling for me section */
.me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

/* set height and width of illustration */
.me img {
    height: 37.5 rem;
    width: 37.5rem;
}

/* Styling for bio div */
.bio {
    width: 25 rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

/* sets About Me in bio's bottom margin to root variable */
.bio h1 {
    margin-bottom: var(--bottom-margin);
}

/* sets paragraph in bio's line height to root variable */
/* sets paragraph's top/bottom padding to 0.3rem and left/right padding to 0*/
.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

/* sets More About Me Section background color to root variable */
/* sets section's top/bottom padding to 1rem and left/right padding to 6rem*/
.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

/* sets More About Me Section bottom margin to root variable */
/* aligns text to center */
.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

/* sets paragraph in More About Me's line height to root variable */
/* sets paragraph padding to 0.4rem */
.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* Styling for skills section */
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

/* sets skill-header's margin bottom to 1rem */
.skill-header {
    margin-bottom: 1rem;
}

/* sets skill-wrapper padding to 1.25rem */
.skill-wrapper img {
    padding: 1.25rem;
}

/* Styling for skill cards */
.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px black;
    padding: 20px;
    margin: 10px;
}

/* Styling for footer */
footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

/* Styling for social section */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

/* Styling for icons */
.socicon {
    width: 2rem;
    height: 2rem;
    padding: 1.5px;
}